.common-table--center {
  .column--selection .p-column-header-content {
    @apply justify-center;
  }

  .p-column-title {
    @apply w-full text-center;
  }

  td[role='cell'] {
    @apply i_text-center;
  }
}

.common-dialog.p-dialog {
  .p-dialog-header {
    @apply text-white px-20 py-14 gap-20;

    .p-dialog-header-close {
      @apply text-white;

      &,
      &:hover,
      &:focus {
        @apply bg-white bg-opacity-10 text-white text-opacity-80 shadow-none;
      }

      svg {
        @apply text-12 w-12 h-12;
      }
    }
  }
  .p-dialog-footer {
    @apply py-0;
  }
}

.common-breadcrumb {
  @apply text-12 opacity-50;

  svg {
    @apply w-10 h-10;
  }
}

.common-table-form {
  @apply grid grid-cols-[22rpx_1fr] b-t b-t-abd b-l b-l-abd b-l-solid b-t-solid;

  & > * {
    @apply b-r b-r-abd b-b b-b-abd p-16 b-r-solid b-b-solid;
  }

  &--with-label {
    & > *:nth-child(odd) {
      @apply bg-gray-50 flex items-center;
    }
  }
}

.vertical-tabs-container {
  @apply grid grid-cols-[22rpx_1fr] b b-solid b-abd rounded-3;
  & > *:nth-child(1) {
    @apply bg-gray-50 b-r b-r-solid b-r-abd;
  }
}

.common-sort-item {
  &__wrapper {
    @apply b b-solid b-abd rounded-4;
  }

  &__header {
    @apply flex items-center bg-white b-b b-b-solid b-b-abd rounded-t-4;
  }

  &__content {
    @apply relative bg-white rounded-b-4;
  }
}

.v-popper--theme-tooltip .v-popper__inner {
  @apply i_p-8 i_text-inherit;
}

.p-datepicker {
  @apply flex;

  .close-button {
    @apply bg-gray-50 hover:bg-gray-100 color-gray-500 rounded-full flex items-center justify-center;
  }

  &-monthpicker,
  &-yearpicker {
    @apply block;
    .close-button {
      @apply hidden;
    }
  }

  .p-timepicker {
    @apply relative b-t-0 p-l-35 p-r-15;
    &::before {
      @apply content-[''] absolute w-1 left-15 top-0 bottom-0 bg-zinc-200 opacity-50;
    }
    .p-hour-picker,
    .p-minute-picker {
      @apply p-0;
    }
  }

  table td {
    @apply p-0;
  }
}

.p-checkbox.p-checkbox-disabled {
  @apply rounded-6 bg-gray-3;
}

.ic-content-excel-fill {
  @apply i-custom:excel inline-block w-20 h-20;
}

.common-page-title {
  @apply text-24 font-700;
}

.common-page-subtitle {
  @apply opacity-50;
}

.bg-checkerboard {
  background-image:
    linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor 100%
    ),
    linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor 100%
    );
  background-size: 1em 1em;
  background-position: 0.5em 0, 0 0.5em;
}

.v-popper--theme-no-arrow .v-popper__arrow-container {
  @apply hidden;
}

.v-popper--theme-dropdown .v-popper__inner {
  color: unset !important;
}

.page {
  // Add large padding to avoid the issue of not being able to scroll to the bottom of the partners page.
  @apply pb-200;
}

.common-froala {
  @apply flex h-full flex-col;

  .fr-toolbar.fr-top {
    @apply rounded-t-6;
  }

  .fr-second-toolbar {
    @apply rounded-b-6;
  }

  .fr-wrapper {
    @apply flex-1 overflow-auto;
  }

  .fr-wrapper .fr-element {
    @apply min-w-full;
  }
}
